<div class="card" id="{{ device.get_id() }}">
    {% if device.get_state() == 1 %}
        <img class="card-img-top" src="/static/light-bulb-on.png" alt="bulb on"
             onclick='setDeviceTrait("{{ device.get_id() }}", "{{ DeviceTraits.STATE.name }}", "0")'>

    {% else %}
        <img class="card-img-top" src="/static/light-bulb-off.png" alt="bulb off"
             onclick='setDeviceTrait("{{ device.get_id() }}", "{{ DeviceTraits.STATE.name }}", "1")'>
    {% endif %}

    <div class="card-body">
        <a href="/devices/{{ device.get_id() }}">
            <h5 class="card-title">{{ device.get_name() }}</h5>
        </a>
        <input id="{{ device.get_id() }}-brightness" type="number"
               value="{{ device.get_brightness() }}" min="0" max="255" step="10"/>
        <script>
            $("#{{ device.get_id() }}-brightness").inputSpinner();
            $("#{{ device.get_id() }}-brightness").on("change", function (event) {
                setDeviceTrait("{{ device.get_id() }}", "{{ DeviceTraits.BRIGHTNESS.name }}", $(this).val())
            })
        </script>

        <input id="{{ device.get_id() }}-color" type="number"
               value="{{ device.get_color_temp() }}" min="0" max="100" step="10"/>
        <script>
            $("#{{ device.get_id() }}-color").inputSpinner();
            $("#{{ device.get_id() }}-color").on("change", function (event) {
                setDeviceTrait("{{ device.get_id() }}", "{{ DeviceTraits.COLOR_TEMP.name }}", $(this).val())
            })
        </script>
    </div>
</div>