{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
    {% for room in rooms %}
        <div class="row">
            {% include 'room-card.html' %}
        </div>
    {% endfor %}
    <script>
        function setRoomTrait(room_id, trait_name, value) {
            let request = new XMLHttpRequest();
            request.onreadystatechange = (e) => {
                if (request.readyState === 4)
                    updateRoom(room_id);
            };
            request.open("GET", "/rooms/" + room_id + "/" + trait_name + "/" + value);
            request.send();
        }

        function updateRoom(room_id) {
            $("#" + room_id).find("div.card").each(function () {
                updateDevice($(this).prop("id"))
            });

            let request = new XMLHttpRequest();
            request.onreadystatechange = (e) => {
                if (request.readyState === 4) {
                    let room_data = JSON.parse(request.responseText);
                    let img = $("#" + room_id + " img")[0];
                    if (room_data["{{ RoomTraits.STATUS.value }}"] === 1) {
                        img.src = "/static/power-on.png";
                        img.alt = "power on";
                        img.onclick = (e) => {
                            setRoomTrait(room_id, "{{ RoomTraits.STATUS.name }}", "0")
                        };
                    } else if (room_data["{{ RoomTraits.STATUS.value }}"] === 0) {
                        img.src = "/static/power-off.png";
                        img.alt = "power off";
                        img.onclick = (e) => {
                            setRoomTrait(room_id, "{{ RoomTraits.STATUS.name }}", "1")
                        };
                    }
                }
            };
            request.open("GET", "/rooms/" + room_id);
            request.send();
        }

        function setDeviceTrait(device_id, trait_name, value) {
            let request = new XMLHttpRequest();
            request.onreadystatechange = (e) => {
                if (request.readyState === 4)
                    updateRoom($("#" + device_id).parents("div.card").prop("id"))
                //updateDevice(device_id);
            };
            request.open("GET", "/devices/" + device_id + "/" + trait_name + "/" + value);
            request.send();
        }

        function updateDevice(device_id) {
            let request = new XMLHttpRequest();
            request.onreadystatechange = (e) => {
                if (request.readyState === 4) {
                    let device_data = JSON.parse(request.responseText);
                    console.log(device_data);
                    let img = $("#" + device_id + " img")[0];
                    img.src = (device_data["{{ DeviceTraits.STATE.value }}"] === 1 ? "/static/light-bulb-on.png" : "/static/light-bulb-off.png");
                    img.alt = (device_data["{{ DeviceTraits.STATE.value }}"] === 1 ? "bulb on" : "bulb off");
                    img.onclick = (e) => {
                        setDeviceTrait(device_id, "{{ DeviceTraits.STATE.name }}", device_data["{{ DeviceTraits.STATE.value }}"] === 1 ? "0" : "1")
                    };

                    $("#" + device_id + "-brightness").val(device_data["{{ DeviceTraits.BRIGHTNESS.value }}"]);
                    $("#" + device_id + "-color").val(device_data["{{ DeviceTraits.COLOR_TEMP.value.lower() }}"]);
                }
            };
            request.open("GET", "/devices/" + device_id);
            request.send();
        }
    </script>
{% endblock %}